<a href="https://colab.research.google.com/github/youssefbourais0310/python_tutorial/blob/main/data1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd

In [80]:
labels_csv = pd.read_csv("/content/drive/MyDrive/LABELS.csv")

print(labels_csv.describe())
print(labels_csv.head())

                 id              breeds
count          1081                1080
unique         1081                1018
top     1355868_out  Vanilla_planifolia
freq              1                   3
            id                  breeds
0  1355868_out          Lactuca_virosa
1  1355920_out   Pelargonium_capitatum
2   1355932_in  Pelargonium_graveolens
3  1355936_out         Cirsium_arvense
4  1355937_out         Cirsium_vulgare

In [84]:
labels_csv.head()

            id                  breeds
0  1355868_out          Lactuca_virosa
1  1355920_out   Pelargonium_capitatum
2   1355932_in  Pelargonium_graveolens
3  1355936_out         Cirsium_arvense
4  1355937_out         Cirsium_vulgare

In [93]:
# data = labels_csv["id"].str.find("out")
# data.head()
df = labels_csv[labels_csv["id"].str.contains("out") == False]
df1=df.to_csv("/content/drive/MyDrive/LABELS1.csv")