<a href="https://colab.research.google.com/github/youssefbourais0310/python_tutorial/blob/main/data1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd

In [130]:
labels_csv = pd.read_csv("/content/drive/MyDrive/LABELS1.csv")
labels_csv.drop(labels_csv.filter(regex="Unnamed: 0"),axis=1, inplace=True)
labels_csv

             id                     breeds
0    1355932_in     Pelargonium_graveolens
1    1355955_in  Pelargonium_odoratissimum
2    1355959_in       Pelargonium_peltatum
3    1355978_in         Pelargonium_zonale
4    1355990_in          Mercurialis_annua
..          ...                        ...
315  1694631_in          Coussapoa_villosa
316  1697991_in         Cyphostemma_juttae
317  1711751_in            Nepenthes_alata
318  1711753_in         Nepenthes_truncata
319  1711873_in      Aphelandra_aurantiaca

[320 rows x 2 columns]

In [132]:
df = pd.read_csv("/content/drive/MyDrive/LABELS_FINAL1.csv", index_col=[0])
df

             id                     breeds
0    1355932_in     Pelargonium_graveolens
1    1355955_in  Pelargonium_odoratissimum
2    1355959_in       Pelargonium_peltatum
3    1355978_in         Pelargonium_zonale
4    1355990_in          Mercurialis_annua
..          ...                        ...
315  1694631_in          Coussapoa_villosa
316  1697991_in         Cyphostemma_juttae
317  1711751_in            Nepenthes_alata
318  1711753_in         Nepenthes_truncata
319  1711873_in      Aphelandra_aurantiaca

[320 rows x 2 columns]

In [124]:
a = labels_csv.to_csv("/content/drive/MyDrive/LABELS_FINAL2.csv")