<a href="https://colab.research.google.com/github/youssefbourais0310/python_tutorial/blob/main/data1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [22]:
labels_csv = pd.read_csv("/content/drive/MyDrive/YOUSSEF.csv")
labels_csv.drop(labels_csv.filter(regex="Unnamed: 0"),axis=1, inplace=True)
labels_csv

             id                     breeds
0    1355932_in     Pelargonium_graveolens
1    1355955_in  Pelargonium_odoratissimum
2    1355959_in       Pelargonium_peltatum
3    1355978_in         Pelargonium_zonale
4    1355990_in          Mercurialis_annua
..          ...                        ...
314  1694631_in          Coussapoa_villosa
315  1697991_in         Cyphostemma_juttae
316  1711751_in            Nepenthes_alata
317  1711753_in         Nepenthes_truncata
318  1711873_in      Aphelandra_aurantiaca

[319 rows x 2 columns]

In [19]:
df = pd.read_csv("/content/drive/MyDrive/YOUSSEF.csv", index_col=[0])
df2 = df.style.hide_index()
df2

In [145]:
a = df2.to_excel("/content/drive/MyDrive/LABELS_FINAL3.xlsx")

In [20]:
CATEGORIES = [ 'Pelargonium_graveolens','Pelargonium_odoratissimum',	'Pelargonium_peltatum', 	'Pelargonium_zonale', 	'Mercurialis_annua', 	'Phyllanthus_tenellus', 
 'Hypericum_perforatum', 	'Tradescantia_fluminensis', 	'Tradescantia_zebrina', 	'Lavandula_dentata', 	'Nephrolepis_cordifolia', 	'Nephrolepis_exaltata',
 	'Osmunda_regalis', 	'Lithodora_fruticosa', 	'Vaccaria_hispanica', 	'Calendula_stellata', 	'Sedum_acre', 	'Sedum_album', 	'Sedum_andegavense',
 	'Sedum_brevifolium', 	'Sedum_caeruleum', 	'Sedum_cepaea', 	'Sedum_dasyphyllum', 	'Sedum_forsterianum', 	'Sedum_hirsutum', 	'Sedum_litoreum',
 	'Sedum_multiceps', 	'Sedum_rubens', 	'Sedum_sediforme', 	'Lavandula_stoechas', 	'Galega_officinalis', 	'Alcea_rosea', 	'Hunnemannia_fumariifolia',
 	'Papaver_rupifragum', 	'Anemone_coronaria', 	'Oldenlandia_corymbosa', 	'Pancratium_canariense', 	'Oncostema_elongata', 	'Oncostema_peruviana',
 	'Ophrys_tenthredinifera', 	'Lavandula_angustifolia', 	'Nymphaea_lotus', 	'Freesia_refracta', 	'Tradescantia_pallida', 	'Schefflera_actinophylla',
 	'Anemone_hortensis', 	'Tradescantia_cerinthoides', 	'Sedum_hispanicum', 	'Trifolium_repens', 	'Centranthus_ruber', 	'Guizotia_abyssinica', 	'Tagetes_patula',
 	'Lupinus_perennis', 	'Lupinus_polyphyllus', 	'Trachelospermum_jasminoides', 	'Tradescantia_spathacea', 	'Mussaenda_erythrophylla', 	'Gynura_aurantiaca',
 	'Gynura_procumbens',  'Tagetes_erecta', 	  'Phyllanthus_amarus', 	'Triadica_sebifera', 	'Petiveria_alliacea', 	'Peperomia_pellucida', 	'Mecardonia_procumbens',
 	'Browallia_americana', 	'Zamioculcas_zamiifolia', 	'Ansellia_africana', 	'Phedimus_aizoon', 	'Phedimus_spurius', 	'Nephrolepis_cordifolia', 	'Cereus_jamacaru',
 	'Sedum_pachyphyllum', 	'Sedum_dendroideum', 	'Tagetes_tenuifolia', 	'Calendula_arvensis', 	'Carthamus_carduncellus', 	'Dorotheanthus_bellidiformis',
 	'Fragaria_moschata', 	'Freesia_x_hybrida', 	'Guizotia_abyssinica', 	'Hebe_andersonii', 	'Hebe_salicifolia', 	'Hypericum_calycinum', 	'Lamium_maculatum',
 	'Lavandula_x_intermedia', 	'Lavandula_latifolia', 	'Limnanthes_douglasii', 	'Lupinus_arboreus',	'Anemone_apennina', 	'Papaver_croceum',
 	'Papaver_orientale', 	'Pelargonium_x_hybridum', 	'Pelargonium_inquinans', 	'Pelargonium_peltatum', 	'Diascia_rigescens', 	'Sedum_kamtschaticum', 	'Sedum_mexicanum',
 	'Sedum_ochroleucum', 	'Sedum_sexangulare', 	'Tradescantia_x_andersoniana', 	'Tradescantia_virginiana', 	'Honckenya_peploides', 	'Sedum_atratum', 	'Freesia_refracta',
 	'Freesia_alba', 	'Cobaea_scandens', 	'Sedum_palmeri', 	'Tradescantia_zebrina', 	'Dryopteris_erythrosora', 	'Anemone_blanda', 	'Hypericum_patulum', 	'Hypericum_x_hidcoteense',
 	'Perovskia_atriplicifolia', 	'Alcea_setosa', 	'Lamium_orvala', 	'Schefflera_actinophylla', 	'Lavandula_pinnata', 	'Barbarea_rupicola', 	'Nephrolepis_biserrata',
 	'Phyllanthus_urinaria', 	'Anthurium_hookeri', 	'Anthurium_jenmanii', 	'Anthurium_scandens', 	'Crotalaria_retusa', 	'Peperomia_magnoliifolia', 	'Peperomia_obtusifolia',
 	'Peperomia_quadrangularis', 	'Peperomia_rotundifolia', 	'Peperomia_serpens', 	'Urera_baccifera', 	'Pereskia_bleo', 	'Cereus_hexagonus', 	'Vanilla_planifolia',
 	'Asystasia_gangetica', 	'Piriqueta_cistoides', 	'Acalypha_wilkesiana', 	'Breynia_disticha', 	'Acalypha_indica', 	'Anthurium_crystallinum', 	'Alocasia_cucullata',
 	'Alocasia_longiloba', 	'Alocasia_macrorrhizos', 	'Fragaria_x_ananassa', 	'Nephrolepis_abrupta', 	'Pelargonium_x_asperum', 	'Pereskia_grandifolia', 	'Phyllanthus_emblica',
 	'Phyllanthus_niruroides', 	'Pongamia_pinnata', 	'Acalypha_hispida', 	'Acalypha_integrifolia', 	'Stemodia_verticillata', 	'Tradescantia_pallida', 	'Trimezia_martinicensis',
 	'Cereus_repandus', 	'Schefflera_arboricola', 	'Fragaria_chiloensis', 	'Aphelandra_squarrosa', 	'Gynura_aurantiaca', 	'Pereskia_aculeata', 	'Peperomia_argyreia',
  'Peperomia_caperata', 'Peperomia_obtusifolia', 'Anthurium_andraeanum', 	'Anthurium_scherzerianum', 	'Zamia_furfuracea', 	'Dendrobium_nobile', 	'Nandina_domestica',
	'Crotalaria_pumila', 	'Dendrobium_chrysotoxum', 	'Dendrobium_moschatum', 	'Fittonia_albivenis', 	'Selenicereus_anthonyanus', 	'Selenicereus_grandiflorus',
 	'Acalypha_aristata', 	'Daucus_pusillus', 	'Diervilla_lonicera', 	'Dryopteris_cristata', 	'Dryopteris_intermedia', 	'Hypericum_prolificum', 	'Lamium_maculatum',
 	'Mertensia_maritima', 	'Mertensia_paniculata', 	'Nymphaea_odorata', 	'Papaver_nudicaule', 	'Sedum_divergens', 	'Sedum_oreganum', 	'Sedum_spathulifolium',
 	'Sedum_ternatum', 	'Tradescantia_occidentalis', 	'Tradescantia_ohiensis', 	'Barbarea_vulgaris', 	'Nepenthes_vieillardii', 	'Dendrobium_closterium', 	'Schefflera_spp',
 	'Tagetes_lucida', 	'Lithops_fulviceps', 	'Lithops_karasmontana', 	'Lithops_marmorata', 	'Lithops_pseudotruncatella', 	'Fittonia_albivenis', 	'Lithops_spp', 	'Sedum_lineare',
 	'Sedum_morganianum', 	'Garrya_elliptica', 	'Pelargonium_crispum', 	'Pelargonium_x_hortorum', 	'Loropetalum_chinense', 	'Liriope_muscari', 	'Dendrobium_spp', 	'Vanilla_planifolia',
 	'Peperomia_argyreia', 	'Peperomia_dolabriformis', 	'Hebe_franciscana', 	'Fragaria_x_ananassa', 	'Browallia_speciosa', 	'Alocasia_cuprea', 	'Alocasia_micholitziana',
 	'Alocasia_odora', 	'Alocasia_sanderiana', 	'Zamia_furfuracea', 	'Nepenthes_spp', 	'Pelargonium_spp', 	'Sedum_palmeri', 	'Nephrolepis_falcata', 	'Tradescantia_zebrina',
 	'Pelargonium_grandiflorum', 	'Dischidia_nummularia', 	'Schefflera_heptaphylla', 	'Herbertia_lahue', 	'Liriope_muscari', 	'Pelargonium_panduriforme', 	'Pelargonium_zonale',
 	'Sedum_albomarginatum', 	'Sedum_glaucophyllum', 	'Sedum_laxum', 	'Sedum_moranense', 	'Sedum_niveum', 	'Sedum_obtusatum', 	'Sedum_pulchellum', 	'Calochortus_eurycarpus',
 	'Calochortus_gunnisonii', 	'Calochortus_leichtlinii', 	'Calochortus_luteus', 	'Calochortus_splendens', 	'Calochortus_tolmiei', 	'Diervilla_sessilifolia', 	'Alocasia_cucullata',
 	'Hackelia_velutina', 	'Lithops_aucampiae', 	'Lithops_olivacea', 	'Cyrtanthus_elatus', 	'Dischidia_ovata', 	'Alocasia_baginda', 	'Alocasia_lauterbachiana', 	'Alocasia_reginula',
 	'Alocasia_wentii', 	'Alocasia_zebrina', 	'Anthurium_clarinervium', 	'Anthurium_faustomirandae', 	'Anthurium_salvinii', 	'Anthurium_schlechtendalii', 	'Anthurium_veitchii',
 	'Anthurium_warocqueanum', 	'Cereus_forbesii', 	'Cereus_uruguayanus', 	'Coryphantha_elephantidens', 	'Pilosocereus_chrysostele', 	'Pilosocereus_pachycladus',
 	'Selenicereus_anthonyanus', 	'Stenocactus_multicostatus', 	'Tephrocactus_geometricus', 	'Cyanotis_somaliensis', 	'Tradescantia_sillamontana', 	'Leucophyta_brownii',
 	'Othonna_capensis', 	'Sedum_adolphii', 	'Sedum_allantoides', 	'Sedum_burrito', 	'Sedum_clavatum', 	'Sedum_compressum', 	'Sedum_cyaneum', 	'Sedum_decumbens', 	'Sedum_furfuraceum',
 	'Sedum_hernandezii', 	'Sedum_japonicum', 	'Sedum_makinoi', 	'Sedum_nussbaumerianum', 	'Sedum_praealtum', 	'Sedum_rubrotinctum', 	'Uncinia_rubra', 	'Acalypha_macrostachya',
 	'Pelargonium_echinatum', 	'Pelargonium_x_hortorum', 	'Lupinus_nootkatensis', 	'Nepenthes_mirabilis', 	'Nepenthes_x_neglecta', 	'Dendrobium_munificum', 	'Dendrobium_thyrsiflorum',
 	'Dendrobium_victoriae-reginae',	'Erycina_pusilla', 	'Peperomia_albovittata', 	'Peperomia_clusiifolia', 	'Peperomia_columella',	'Peperomia_ferreyrae', 	'Peperomia_graveolens',
	'Peperomia_maculosa', 	'Peperomia_pecuniifolia', 	'Peperomia_polybotrya', 	'Peperomia_prostrata', 	'Peperomia_tetragona',	'Peperomia_verticillata', 	'Hebe_andersonii',
 	'Coussapoa_villosa',	'Cyphostemma_juttae', 	'Nepenthes_alata', 	'Nepenthes_truncata', 	'Aphelandra_aurantiaca' ]

In [21]:
len(CATEGORIES)

319